<p id="notice"><%= notice %></p>

<h1>Listing Starwars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @starwars.each do |starwar| %>
      <tr>
        <td><%= link_to 'Show', starwar %></td>
        <td><%= link_to 'Edit', edit_starwar_path(starwar) %></td>
        <td><%= link_to 'Destroy', starwar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Starwar', new_starwar_path %>
